.footer {
  @apply bg-black w-4/5 mx-auto absolute bottom-0 w-full text-lightGray;

  &Wrapper {
    @apply w-4/5 flex gap-9 flex-col mx-auto my-4 sm:my-[48px];
  }

  &Navigation {
    @apply flex flex-col justify-center items-center md:justify-start md:items-start gap-2 md:gap-5 text-lightGray text-[12px] md:text-sm;

    &Links {
      @apply flex flex-wrap justify-center sm:justify-start gap-2 md:gap-4;
    }

    .copyright {
      @apply text-[8px] md:text-sm;
    }
  }

  &Buttons {
    @apply flex flex-row justify-between items-center;

    &Social {
      @apply flex flex-row gap-2 md:gap-5;

      button {
        @apply w-[14px] h-[14px] md:w-[30px] md:h-[30px] relative;
      }
    }

    &Store {
      @apply flex;

      button {
        @apply flex h-[16px] w-[54px] md:h-[40px] md:w-[135px] relative items-start;
      }

      .ml {
        @apply ml-2 mr-1 md:ml-5 md:mr-2;
      }
    }
  }
}
